header a{
    font-size: 30px;
    text-decoration: none;
    margin: 0 50px;
    color: rgb(0, 0, 0);
    font-family: "Fuente ana";
    font-family: 'Coolvetica', sans-serif;
    position: relative;
    float: center;
    
}
a:hover{
    color: rgb(255, 242, 0);
}

a:active{
    color: aqua;
}

header{
    text-align: center;
    background-color: hwb(194 50% 5%);
    margin-top: 10px;
}

#logo{
    margin: 5px;
    width: 200px;
    height: 40px;
}

#texto_peluqueria_3{
    font-family: 'Caviar Dreams', sans-serif;
    font-size: 40px;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
}

#texto_peluqueria{
    box-shadow: 0 0 20px rgb(0,0,0, 0.7);
    margin-top: -490px;
    
    
}
h1{
    font-family: 'Coolvetica', sans-serif;
    letter-spacing: 3px;
    margin-top: 50px;
}

footer{
    background-color: hwb(194 50% 5%);
}

img#logo_footer{
    width: 200px;
    height: 40px;
}

#iconos{
    margin-top: 17px;
    margin-right: 15px;
}


